@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 210 40% 96.1%;
        --foreground: 222 47% 11%;
        --card: 0 0% 100%;
        --card-foreground: 222 47% 11%;
        --popover: 0 0% 100%;
        --popover-foreground: 222 47% 11%;
        --primary: 250 80% 60%;
        --primary-foreground: 0 0% 100%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222 47% 11.2%;
        --muted: 215 25% 27%;
        --muted-foreground: 215 16% 47%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222 47% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214 32% 91%;
        --input: 214 32% 91%;
        --ring: 250 80% 64%;
        --radius: 1rem;
    }

    .dark {
        --background: 222 47% 11%;
        --foreground: 210 40% 98%;
        --card: 217 33% 17%;
        --card-foreground: 210 40% 98%;
        --popover: 217 33% 17%;
        --popover-foreground: 210 40% 98%;
        --primary: 250 80% 64%;
        --primary-foreground: 210 40% 98%;
        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;
        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;
        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;
        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 250 80% 64%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground antialiased;
    }
}

@layer utilities {
    .shadow-dribbble {
        box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.08);
    }

    .shadow-float {
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    }
}